/*  your css code here. If applicable */
 /* Container styling */
        .container {
            width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 5px solid #333;
            border-radius: 35px;
            text-align: center;
			background-color:lightgray;
			display:flex;
			justify-content:center;
        }

        /* Block styling */
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            margin: 5px;
        }

        /* Red block */
        .red {
            background-color: red;
        }

        /* Green block */
        .green {
            background-color: green;
        }

        /* Yellow block */
        .yellow {
            background-color: yellow;
        }